
 .card .card-image{
    max-width:60%;
    height:auto;
    border-radius:50%;
    margin-bottom: 10px;
  }
  .card{
    max-width: 350px;
    margin:10px;
    padding:20px;
    border:3px solid black
  }
  
  .card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black
  } 
  header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    
  }
  
  header nav ul li {
    margin-right: 150px; 
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 20px;
    margin: 10px;
    margin-bottom: 30px;
    margin-left: 180px;
    border: 2px solid hsl(0, 4%, 5%);
    border-radius: 10px;
    background-color: rgb(248, 243, 246);
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header .header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .FNAME{
    margin-right: 30px;
  }
  a{
    color: black;
    text-decoration: none;
    font-size: 11pt;
   
    
  }
  .card{
    border: 5px solid hsl(0, 0%, 3%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 4%, 0.1);
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: rgb(4, 4, 4);
    max-width: 400px;
    max-height: 250px;
    margin-left: 75px;
    display: inline-block;
  }
  
  .card .card-image {
    max-width: 180px;
    max-height: 150px;
    border-radius: 120%;
    margin-bottom: 5px;
  }
  
  
  .card .card-title{
    font-family:'lucida writing';
    margin: 0;
    font-size: 18pt;
    color: hsl(0, 0%, 99%);
  }
  
  .card .card-text{
    font-family:'Papyrus';
    color: hsl(0, 94%, 35%);
    font-size: 17pt;
    font-style:italic
  }
  .card-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    
   
  }
  body, html {
    height: 100%;
    margin: 0;
   
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1; /* This pushes the footer to the bottom */
  }
  .list{
    height:50%;
  }